.search-form {
    position: absolute;
    width: 75%;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-form .btn {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
    .search-form {
        position: relative;
        width: 90%;
        transform: translate(-55.9%, 0%);
    }
}